h1{
    background-color: darkblue;
    color: white;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    margin:0;
    text-align: center;
    padding:10px 0;
}

h2{
    background-color: lightblue;
    color: black;
    width: 100%;
    margin-top: 100px;
    text-align: center;

}

p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
}